.adopt-container {
  display: grid;
  grid-template-columns: 5;
  grid-template-rows: 3;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.list-of-cats {
  grid-area: 1 / 1 / 2 / 2;
}
.current-cat {
  grid-area: 1 / 2 / 2 / 3;
}
.both {
  grid-area: 1 / 3 / 2 / 4;
}
.list-of-dogs {
  grid-area: 1 / 5 / 2 / 6;
}
.current-dog {
  grid-area: 1 / 4 / 2 / 5;
}
.signup-container {
  grid-area: 2 / 3 / 3 / 4;
}
.users-container {
  grid-area: 3 / 2 / 4 / 5;
}
.list-of-users {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.list-of-users li {
  margin: 1rem;
}
